.navBarDiv {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.likesDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11vh;
    margin: 0 5%;

}

.viewsDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vh;
    margin: 0 5%;
}
