.navBarDiv {
    display: flex;
    align-items: center;
}

.navBarDiv div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.navBarDiv p {
    display: flex;
}

.likesDiv {
    margin: 5%;
}